$container-width: 970px;
$body-width: 1200px;
$footer-padding-top: 20px;
$footer-padding-bottom: 20px;
$footer-height: 220px;
$hedaer-width: 1200px;

//===============================================
html,
body {
  //min-width: $container-width + /*gutter-bootstrap*/30px; // для адаптива закоментировать
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-base-family;
  font-size: $font-base-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position: relative;
}

body {
  //position: relative;
}

.body-overlow-hidden {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.maincontent {
  padding-bottom: $footer-height;
}

// %container {
//   width: $container-width;
//   margin: 0 auto;
// }

// %container-flu {
//   max-width: $container-width;
//   margin: 0 auto;
// }

// %header {
//   max-width: $hedaer-width;
//   padding: 0 10px;
//   margin: 0 auto;
// }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: content-box;
  padding-top: $footer-padding-top;
  padding-bottom: $footer-padding-bottom;
  height: $footer-height - $footer-padding-top - $footer-padding-bottom;
}

%debug {
  outline: 1px solid #f0f;
}